.categories
   width: 226px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F4FBFF;

   .cat-container
      height: 60%;
      display: flex;
      flex-direction: column;
      p
         margin-bottom: 50px;
         font-size: 1.06rem;
         font-weight: bold;
         color: #4E5F70;


      ul
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 15px;
         li
            color: #283848;
            list-style: none;
            transition: 0.3s;
            &:hover
               color: blue;
            &:before
               content: '>'
   
            a
               margin-left: 12px;
               text-decoration: none;
               font-size: 0.93rem;
               font-weight: 550;
               color: #283848;
               transition: 0.3s;
               &:hover
                  color: #2693FF;