section
   position: relative;
   max-width: 1710px;
   height: 100vh;
   margin: 0 auto; 
   display: flex
   .container
      width: calc(100% - 106px);
      .cont-main
         display: flex;
         width: 100%;
         height: calc(100vh - 83px);

